[submodule "testing"]
	path = testing
	url = https://chromium.googlesource.com/chromium/src/testing
[submodule "third_party/googletest/src"]
	path = third_party/googletest/src
	url = https://github.com/google/googletest
[submodule "tools/gn"]
	path = tools/gn
	url = https://github.com/yue/gn
[submodule "buildtools/third_party/libc++/trunk"]
	path = buildtools/third_party/libc++/trunk
	url = https://chromium.googlesource.com/external/github.com/llvm/llvm-project/libcxx.git
[submodule "buildtools/third_party/libc++abi/trunk"]
	path = buildtools/third_party/libc++abi/trunk
	url = https://chromium.googlesource.com/external/github.com/llvm/llvm-project/libcxxabi.git
[submodule "buildtools/third_party/libunwind/trunk"]
	path = buildtools/third_party/libunwind/trunk
	url = https://chromium.googlesource.com/external/github.com/llvm/llvm-project/libunwind.git
